
.container {
    padding: 0 2rem;
}

.main {
    text-align: center;
}

.title {
}

.states {
    display: flex;
}

.checkbox {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    flex: 1;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-weight: bold;
    margin: 0.5rem;
}

.comment {
    padding: 1rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    display: flex;
}

.commentText {
    flex: 1;
    text-align: left;
}

.deleteCommentButton {
    font-weight: bold;
    color: var(--red);
    background-color: transparent;
    border: none;
    transition: var(--fast-transition);
}

.deleteCommentButton:active {
    opacity: 0.5;
}

.deleteCommentButton:hover {
    cursor: pointer;
}

.images {
    display: flex;
    overflow: scroll;
    list-style: none;
    padding: 0;
}

.imageItem:not(:last-child) {
    margin-right: 1rem;
}

.previewImage {
    height: 10rem;
    border-radius: 1rem;
}

.xButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    opacity: 0.5;
    background-color: var(--bg-secondary);
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 13px;
}

.xButton:hover {
    cursor: pointer;
}

.changeImageNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
}

.imageNumberButton {
    padding: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
}

.imageNumber {
    padding: 1rem;
    margin: 0 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
}

.imageNumberButton:hover {
    cursor: pointer;
}

.filePicker {
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 1rem;
}

@media screen and (max-width: 350px) {
    .container {
        width: 350px;
    }
}
