
.container {
    padding: 0 2rem;
}

.title {
    text-align: center;
}

.states {
    display: flex;
}

.checkbox {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    flex: 1;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-weight: bold;
    margin: 0.5rem;
}

.comment {
    padding: 1rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    display: flex;
}

.commentText {
    flex: 1;
}

.deleteCommentButton {
    font-weight: bold;
    color: var(--red);
    background-color: transparent;
    border: none;
    transition: var(--fast-transition);
}

.deleteCommentButton:active {
    opacity: 0.5;
}

@media screen and (max-width: 350px) {
    .container {
        width: 350px;
    }
}
