.container {
    background-color: var(--bg-primary);
}

.main {
    display: flex;
    flex-direction: column;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.commentsHeadline {
    text-transform: uppercase;
    color: var(--text-color-secondary);
    letter-spacing: 0.15ch;
    text-align: center;
}

.comment {
    padding: 1rem;
    border-top: var(--border);
}

.comments {
    border: var(--border);
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

.commentMap {
    border-bottom: var(--border-color) 0.1ch solid;
}

.inputArea {
    display: flex;
    flex-direction: row;
}

.input {
    font-size: 1rem;
    background-color: transparent;
    color: var(--text-color);
    padding: 1rem 1.5rem;
    margin: 1rem;
    border: 0.1ch solid var(--border-color);
    flex: 1;
    border-radius: var(--border-radius);
    width: 300px;
}

.input:focus {
    outline: none;
}

.sendButton {
    color: var(--action);
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: var(--fast-transition);
    margin: 1rem 1rem 1rem 0;
    padding: 0 1rem;
}

.sendButton:active {
    opacity: 0.5;
}

.imgPositioner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 831px) {

    .main {
        flex-direction: row;
    }

    .comments {
        flex: 3;
    }

    .img {
        object-fit: contain;
        max-height: 100%;
        width: 100%;
    }

    .imgPositioner {
        height: 100vh;
        flex: 4;
    }

}

@media screen and (max-width: 830px) {
    .img {
        width: 100vw;
    }
}

@media screen and (max-width: 280px) {
    .container {
        width: 280px;
    }
    .img {
        width: 280px;
    }
}
